body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     /*color: beige;
     text-align: center;*/
     background-color: black;
}

h1{
     color: beige;
     text-align: center;
     position: relative;
     padding: 25px;
}

/*#logo-backgroud{
     padding:0px;
     padding-top: 0%;
     position: relative;
     text-align: center;
}*/
img{      padding:0px;
     padding-top: 0%;
     position: relative;
     text-align: center;
}
